
@{
    ViewData["Title"] = "Products";
}




<h1 class="text-center"> Buildings </h1>



@Html.Raw(ViewBag.BuildingTable)

<h1 class="text-center"> Batteries </h1>


@Html.Raw(ViewBag.BatteriesTable)

<h1 class="text-center"> Columns </h1>


@Html.Raw(ViewBag.ColumnsTable)

<h1 class="text-center"> Elevators </h1>


@Html.Raw(ViewBag.ElevatorTable)


